@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
	height: 100%;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
/* General Demo Style */
.clr{
	clear: both;
}
/* Header Style */
.codrops-top {
    background: rgba(255, 255, 255, 0.4) none repeat scroll 0 0;
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
    font-size: 11px;
    line-height: 24px;
    margin: 0 0 0 190px;
    position: relative;
    text-transform: uppercase;
     width: 1044px;
    z-index: 9999;
}